* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

:root {
    /***************************Colors********************/

    /*Content*/
    --content-primary: #fff;
    --content-secundary: #C7C9CC;
    --content-tertiary: #D9D9D9;
    --content-brand: #C58DE7;
    --color-inverse: #030203;

    /*Background*/
    --accent-pink: #D586E0;
    --accent-blue: #91A1FA;
    --accent-green: #77C0AF;
    --accent-lime: #D1DC97;
    --accent-red: #E9A9B3;

    /*Gradients*/

    --gradient-border: #77C0AF 0%, #D1DC97 14.84%, #E9A9B3 32.15%, #D586E0 65.79%, #91A1FA 84.58%;
    --gradient-background: #D586E0 0%, #91A1FA 98.93%;
    --gradient-content: #C7C9CC 0%, #3D3D3D 100%;

    /********************Fonts***********************/

    /*SORA*/
    --display-lg: 800 4.5rem/130% "Sora", sans-serif;
    --display-md: 600 2.5rem/130% "Sora", sans-serif;
    --display-sm: bold 2rem/130% "Sora", sans-serif;

    /*ROBOTO*/

    --overline: bold 1rem/150% "Roboto", sans-serif;

    /*Roboto Flex*/
    --text-lg: 500 1rem/150% "Roboto Flex", sans-serif;
    --text-md: 500 0.875rem/150% "Roboto Flex", sans-serif;
    --text-sm: 500 0.75rem/150% "Roboto Flex", sans-serif;

    --text-label-md: bold 1.25rem/150% "Roboto Flex", sans-serif;
    --text-lg: bold 1rem/150% "Roboto Flex", sans-serif;

}


body {
    display: flex;
    align-items: center;
    background-color: #030203;
    background-image: url(../assets/bg.png);
    color: #fff;
}

.container{
    margin: auto;
    padding: 76px 134px 153px 134px;

}


.chat-icon {
    height: 20px;
}



h1 {
    display: inline;
    font: var(--display-lg);
    color: var(--content-primary);
    
}

.p-title{
    font:var(--text-md);
    color:var(--content-brand);
}

.p-subtitle{
    font: var(--text-sm);
    color: var(--content-secundary);
}



.title-logo {
    font: var(--display-sm)
}


#app {
    /*
    display: grid;
    grid-template-columns: 1fr 1fr;
 */

    display: flex;
    gap: 108px;
}